:root{
    --color-white: #fff;
    --color-red: #dc3545;
    --color-red-light: #f8d7da;
    --color-gray: #4B5563;
    --color-gray-light: #9CA3AF;
    --color-gray-dark: #1F2937;

    --bg-gray-light: #f5f5f5;

    --bs-breakpoint-xs: 0;
    --bs-breakpoint-sm: 576px;
    --bs-breakpoint-md: 768px;
    --bs-breakpoint-lg: 992px;
    --bs-breakpoint-xl: 1200px;
    --bs-breakpoint-xxl: 1400px;
}
/* ////////////////////////
            GENERAL
//////////////////////// */
.text-gray {color: var(--bg-gray);}
.fs-09{font-size: .9rem;}
.fs-08{font-size: .8rem;}
.fs-05{font-size: .5rem;}
.hover-text-danger:hover {color: var(--bs-danger) !important;}
.hover-text-warning:hover {color: var(--bs-warning) !important;}
.hover-text-danger:hover * {color: var(--bs-danger) !important;}
/* ////////////////////////
        PRODUCTS ITEM
//////////////////////// */
.section-product-item img {
    height: 18rem;
    width: auto;
    object-fit: contain;
}
.section-product-item i[class^="bi bi-star"] {
    font-size: .8rem;
    color: var(--color-red);
}
/* box */
.section-product-item .icon-box i {
    color: var(--color-gray);
    font-size: 1.2rem;
    cursor: pointer;
    transition: color 0.3s ease;
}
.section-product-item .icon-box i:hover {
    color: var(--color-red);
}
.section-product-item .icon-box-container {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 100%);
    opacity: 0;
    transition: all 0.4s ease;
    pointer-events: none;
}
.section-product-item:hover .icon-box-container {
    transform: translate(-50%, 0);
    opacity: 1;
    pointer-events: auto;
}
/* thidr */
.section-product-third-item {
    /* max-width: 10rem; */
}
.section-product-third-item .position-absolute {
    transition: .3s;
}
.section-product-third-item:hover .position-absolute {
    top: 0px !important;
}
/* ////////////////////////
        SWIPPER
//////////////////////// */
.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: var(--color-red);
}
/* ////////////////////////
            HERO
//////////////////////// */
@media (min-width:768px) {
    #section-hero-slider {
        padding: 0 5rem;
    }
}
#section-hero-slider .swiper img {
    height: 500px;
    width: 100%;
    object-fit: cover;
}
@media (min-width:992px) {
    #section-hero-slider .swiper img {
        height: 700px;
        width: 100%;
        object-fit: cover;
    }
}
#section-hero-slider > section > div:first-of-type img {
    height: 15rem;
    width: 100%;
    object-fit: cover;
}
/* ////////////////////////
    DISCOUNT PRODUCTS
//////////////////////// */
#section-discount-products img {
    height: 25rem;
    width: 100%;
    object-fit: cover;
    filter: grayscale(100);
}
#section-discount-products .sale {
    width: 7rem;
    height: 7rem;
}
#section-discount-products .sale span:nth-child(2) {
    display: inline-block;
    background-color: var(--color-white);
    width: 25%;
    margin-left: 40%;
    height: .1rem;
    margin-top: .3rem;
    margin-bottom: .3rem;
}
/* ////////////////////////
            FOOTER
//////////////////////// */
#section-footer {
    margin-top: -2rem;
    padding-top: 5rem;
    padding-bottom: 1rem;
    background-color: var(--bg-gray-light);
}
#section-footer a {
    text-decoration: none;
    color: var(--color-gray);
}
