:root{
    --color-white: #fff;
    --color-red: #dc3545;
    --color-gray: #4B5563;
    --color-gray-light: #9CA3AF;
    --color-gray-dark: #1F2937;
}

/* ////////////////////////
            HEADER
//////////////////////// */
#section-header .badge {
    font-size: .6rem;
}
#section-header .logo{
    max-width: 5rem;
}
#section-header .bi-cart-fill {
    color: var(--color-gray);
    transition: .3s;
    font-size: 1.3rem;
}
#section-header .bi-cart-fill:hover {
    color: var(--color-gray-dark);;
}
#section-header .bi-list {
    font-size: 2rem;
}
#section-header .offcanvas.offcanvas-start {
    width: 15rem;
}
#section-header .offcanvas-body {
    padding: 0;
}
#section-header li {
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
}
#section-header a {
    font-weight: 600;
}
#section-header li::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--color-red);
    z-index: -1;
    transition: left 0.4s ease;
}
#section-header li:hover::before {
    left: 0;
}
#section-header li:hover a {
    color: var(--color-white);
}
#section-header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    animation: showHeader ease .8s;
    z-index: 999;
}
@keyframes showHeader {
    0% {
        transform: translate3d(0, -100%, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}