#section-header-wrapper {
    height: 7rem;
}
#section-header {
    transition: background-color .3s, padding .3s;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
#section-header .badge {
    font-size: .6rem;
}
#section-header .logo{
    max-width: 5rem;
}
#section-header .bi-cart-fill {
    color: var(--color-gray);
    transition: .3s;
    font-size: 1.3rem;
}
#section-header .bi-cart-fill:hover {
    color: var(--color-gray-dark);;
}
#section-header .bi-list {
    font-size: 2rem;
}
#section-header .offcanvas.offcanvas-start {
    width: 15rem;
}
#section-header .offcanvas-body {
    padding: 0;
}
#section-header li {
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
}
#section-header a {
    font-weight: 600;
}
#section-header li::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--color-red);
    z-index: -1;
    transition: left 0.4s ease;
}
#section-header li:hover::before {
    left: 0;
}
#section-header li:hover a {
    color: var(--color-white);
}
#section-header a.active {
    color: var(--color-white);
}
#section-header li:has(> .active):before {
    left: 0;
}

/* fix */
#section-header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    animation: showHeader ease .8s;
    z-index: 999;
    background-color: var(--bg-gray-light);
    padding-top: .5rem;
    padding-bottom: .5rem;
}
@keyframes showHeader {
    0% {
        transform: translate3d(0, -100%, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}