.heading-primary-wrapper {
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
}
.heading-primary-wrapper.small {
    margin-bottom: 1rem;
}

.heading-primary {
    position: relative;
    color: var(--color-gray);
    font-weight: 700;
    padding-bottom: 0.5rem;
    width: fit-content;
}
.heading-primary-wrapper.small .heading-primary {
    font-weight: 600;
    font-size: 1.3rem;
}

.heading-primary::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -.5rem;
    width: 5rem;
    height: .2rem;
    background-color: var(--color-red);
    border-radius: 4px;
    margin-left: calc(50% - 2.5rem);
}
.heading-primary-wrapper.small .heading-primary::after {
    bottom: -.2rem;
    width: 3rem;
    height: .1rem;
    margin-left: calc(50% - 1.5rem);
}