.button-container {
    display: flex;
    justify-content: start;
    align-items: center;
}

.button-container .button-primary {
    color: white;
    border: 2px solid;
    border-radius: 0.1rem;
    padding: 12px 24px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: color 0.4s, border-color 0.4s;
    z-index: 1;
}

/* Size styles */
.button-container .button-primary.small {
    font-size: 0.8rem;
}
.button-container .button-primary.big {
    font-size: 0.9rem;
}

/* Fill types */
.button-container .button-primary.fill-secondary {
    background-color: var(--color-gray);
    border-color: var(--color-gray);
}
.button-container .button-primary.fill-secondary::before {
    background-color: var(--color-red);
}
.button-container .button-primary.fill-secondary:hover {
    border-color: var(--color-red);
}

.button-container .button-primary.fill-primary {
    background-color: var(--color-red);
    border-color: var(--color-red);
}
.button-container .button-primary.fill-primary::before {
    background-color: var(--color-gray);
}
.button-container .button-primary.fill-primary:hover {
    border-color: var(--color-gray);
}

.button-container .button-primary::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    transition: left 0.4s ease;
    z-index: -1;
}
.button-container .button-primary:hover::before {
    left: 0;
}
