#hero-slider-section img {
    height: 500px;
    width: 100%;
    object-fit: cover;
}

#hero-slider-section .position-absolute {
    transform: translateY(-50%);
}

#hero-slider-section .swiper-pagination-bullet-active {
    background-color: var(--color-red);
}